body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #666;
    background: #FFFFFF;
    padding: 0;
    border-top: 3px solid #999;
    margin: 0;
}

header img{
    height: 80px;
}

main {
    margin-top: 30px;
}

#socialNetworks a {
    color: rgba(0, 0, 0, 0.55);
}

#socialNetworks i.fa {
    padding-right:20px;
}