body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #666;
    background: #FFFFFF;
    padding: 0;
    border-top: 3px solid #999;
    margin: 0;
    text-align: center;
}

header img{
    height: 80px;
}